[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/krish84
[access "refs/for/refs/*"]
	read = group user/krish84
	push = group user/krish84
	label-Code-Review = -2..+2 group user/krish84
	label-Verified = -1..+1 group user/krish84
	rebase = group user/krish84
	removeReviewer = group user/krish84
	submit = group user/krish84
[access "refs/heads/*"]
	read = group user/krish84
	create = group user/krish84
	push = +force group user/krish84
	pushMerge = group user/krish84
[access "refs/tags/*"]
	push = group user/krish84
	push = +force group user/krish84
